.font-inter {
  font-family: "Inter", sans-serif;
}

.project-card-shadow {
  box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.25);
}
.bg-secondary {
  background-color: #191919;
}

body {
  background-color: #000000;
  min-height: 100vh;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.header-with-cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 60vh;
}
