.font-inter {
  font-family: "Inter", sans-serif;
}

.project-card-shadow {
  box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.25);
}

.bg-navbar-gray {
  background-color: #1a1a1a;
}

body {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
