#section1 {padding-top:50px;height:800px;}
#section2 {padding-top:50px;height:800px;}
#section3 {padding-top:50px;height:800px;}
#section41 {padding-top:50px;height:800px;}
#section42 {padding-top:50px;height:800px;}


body {position: relative;}

.navbar-brand {font-size: 25px;}